@font-face {
  font-family: "Futura-Bold";
  src: url("Futura-Bold.eot") format("embedded-opentype"),
    url("Futura-Bold.woff") format("woff"),
    url("Futura-Bold.ttf") format("truetype"),
    url("Futura-Bold.svg#webfont") format("svg");
}

@font-face {
  font-family: "Futura-Book";
  src: url("Futura-Book.eot?#iefix") format("embedded-opentype"),
    url("Futura-Book.woff") format("woff"),
    url("Futura-Book.ttf") format("truetype"),
    url("Futura-Book.svg#webfont") format("svg");
}

@font-face {
  font-family: "Futura-Medium";
  src: url("Futura-Medium.eot?#iefix") format("embedded-opentype"),
    url("Futura-Medium.woff") format("woff"),
    url("Futura-Medium.ttf") format("truetype"),
    url("Futura-Medium.svg#webfont") format("svg");
}
